# PyCity Schools Analysis

- Your analysis here
  
---

In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [2]:
# Calculate the total number of unique schools
unique_school_count = school_data_complete['school_name'].unique()
school_count = len(unique_school_count)
school_count

15

In [3]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [4]:
# Calculate the total budget
total_budget = school_data["budget"].sum()
total_budget

24649428

In [5]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [6]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete.loc[school_data_complete["math_score"] >= 70]
students_passing_math_percent = passing_math_count["Student ID"].count()
passing_math_percentage = (students_passing_math_percent / student_count) * 100
passing_math_percentage

74.9808526933878

In [8]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete.loc[school_data_complete["reading_score"] >= 70]
students_passing_reading_percent = passing_reading_count["Student ID"].count()
passing_reading_percentage = (students_passing_reading_percent / student_count) * 100
passing_reading_percentage

85.80546336482001

In [9]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[(school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)]
students_passing_rate = passing_math_reading_count["reading_score"].count()
overall_passing_rate = students_passing_rate / student_count * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = {
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Total Budget": [total_budget],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Pass": [overall_passing_rate]}

district_summary_df = pd.DataFrame(district_summary)

# Formatting
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:.4f}".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:.4f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:.4f}".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:.4f}".format)
district_summary_df["% Overall Pass"] = district_summary_df["% Overall Pass"].map("{:.4f}".format)

# Display the DataFrame
district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Pass
0,15,"39,170","$24,649,428.00",78.9854,81.8778,74.9809,85.8055,65.1723

## School Summary

In [11]:
# Name of Schools
school_names_df = pd.read_csv("Resources/schools_complete.csv")
specific_column = school_names_df["school_name"]
print(specific_column)

0         Huang High School
1      Figueroa High School
2       Shelton High School
3     Hernandez High School
4       Griffin High School
5        Wilson High School
6       Cabrera High School
7        Bailey High School
8        Holden High School
9          Pena High School
10       Wright High School
11    Rodriguez High School
12      Johnson High School
13         Ford High School
14       Thomas High School
Name: school_name, dtype: object

In [12]:
# Use the code provided to select all of the school types
specific_column2 = school_names_df["type"]
print(specific_column2)

0     District
1     District
2      Charter
3     District
4      Charter
5      Charter
6      Charter
7     District
8      Charter
9      Charter
10     Charter
11    District
12    District
13    District
14     Charter
Name: type, dtype: object

In [13]:
# Calculate the total student count per school
per_school_count = pd.read_csv("Resources/schools_complete.csv")

result = per_school_count.groupby("school_name")["size"].sum()

print(result)

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [14]:
# Calculate the total school budget and per capita spending per school
per_school_budget = pd.read_csv("Resources/schools_complete.csv")
per_capita_budget = pd.read_csv("Resources/students_complete.csv")

total_budget = per_school_budget.groupby("school_name")["budget"].sum()

total_students = per_capita_budget.groupby("school_name")["Student ID"].count()

capita_budget = total_budget / total_students

print("Total School Budget:")
print(total_budget)
print("------------")
print("Per Capita Spending:")
print(capita_budget)

Total School Budget:
school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64
------------
Per Capita Spending:
school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
# Calculate the average test scores per school
schools = pd.read_csv("Resources/schools_complete.csv")
students = pd.read_csv("Resources/students_complete.csv")

merged = students.merge(schools, on="school_name", how="inner")

per_school_reading = merged.groupby("school_name")["reading_score"].mean()

per_school_math = merged.groupby("school_name")["math_score"].mean()

print("Average Reading Scores:")
print(per_school_reading)
print("-----------")
print("Average Math Scores:")
print(per_school_math)

Average Reading Scores:
school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64
-----------
Average Math Scores:
school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [16]:
# Calculate the number of students per school with math scores of 70 or higher
school_avg = pd.read_csv("Resources/schools_complete.csv")
student_avg = pd.read_csv("Resources/students_complete.csv")

merged_df = student_avg.merge(school_avg, on="school_name", how="inner")

math_scores = merged_df[merged_df["math_score"] >= 70]

math_avg = math_scores.groupby("school_name")["Student ID"].count()

print("Math Scores >= 70:")
print(math_avg)

Math Scores >= 70:
school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
Name: Student ID, dtype: int64

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher
school_avgs = pd.read_csv("Resources/schools_complete.csv")
student_avgs = pd.read_csv("Resources/students_complete.csv")

merges = student_avgs.merge(school_avg, on="school_name", how="inner")

reading_scores = merges[merges["reading_score"] >= 70]

reading_avg = reading_scores.groupby("school_name")["Student ID"].count()

print("Reading Scores >= 70:")
print(reading_avg)

Reading Scores >= 70:
school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
Name: Student ID, dtype: int64

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
school_avgs = pd.read_csv("Resources/schools_complete.csv")
student_avgs = pd.read_csv("Resources/students_complete.csv")

merges = student_avgs.merge(school_avg, on="school_name", how="inner")

both_scores = merges[(merges["reading_score"] >= 70) & (merges["math_score"] >= 70)]

both_passing = both_scores.groupby("school_name")["Student ID"].count()

print("Math & Reading >= 70:")
print(both_passing)

Math & Reading >= 70:
school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
Name: Student ID, dtype: int64

In [19]:
# Use the provided code to calculate the passing rates
school_avgs = pd.read_csv("Resources/schools_complete.csv")
student_avgs = pd.read_csv("Resources/students_complete.csv")

merges = student_avgs.merge(school_avg, on="school_name", how="inner")

both_scores = merges[(merges["reading_score"] >= 70) & (merges["math_score"] >= 70)]
both_pass = both_scores.groupby("school_name")["Student ID"].count()

students_per_school = merges.groupby("school_name")["Student ID"].count()

passing_rates = (both_pass / students_per_school) * 100

print("Passing Rates:")
print(passing_rates)

Passing Rates:
school_name
Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
Name: Student ID, dtype: float64

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({
    "School Name": school_avgs["school_name"],
    "Total Students": school_avgs["size"],
    "School Type": school_avgs["type"],
    "Total Budgets": total_budget,
    "Per Capita Budgets": capita_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Average Math Score >= 70": math_avg,
    "Average Reading Score >= 70": reading_avg,
    "% Overall Passing": both_passing
})

print(per_school_summary)

                                 School Name  Total Students School Type  \
0                          Huang High School          2917.0    District
1                       Figueroa High School          2949.0    District
2                        Shelton High School          1761.0     Charter
3                      Hernandez High School          4635.0    District
4                        Griffin High School          1468.0     Charter
5                         Wilson High School          2283.0     Charter
6                        Cabrera High School          1858.0     Charter
7                         Bailey High School          4976.0    District
8                         Holden High School           427.0     Charter
9                           Pena High School           962.0     Charter
10                        Wright High School          1800.0     Charter
11                     Rodriguez High School          3999.0    District
12                       Johnson High School          4761.0    District
13                          Ford High School          2739.0    District
14                        Thomas High School          1635.0     Charter
Bailey High School                       NaN             NaN         NaN
Cabrera High School                      NaN             NaN         NaN
Figueroa High School                     NaN             NaN         NaN
Ford High School                         NaN             NaN         NaN
Griffin High School                      NaN             NaN         NaN
Hernandez High School                    NaN             NaN         NaN
Holden High School                       NaN             NaN         NaN
Huang High School                        NaN             NaN         NaN
Johnson High School                      NaN             NaN         NaN
Pena High School                         NaN             NaN         NaN
Rodriguez High School                    NaN             NaN         NaN
Shelton High School                      NaN             NaN         NaN
Thomas High School                       NaN             NaN         NaN
Wilson High School                       NaN             NaN         NaN
Wright High School                       NaN             NaN         NaN

                       Total Budgets  Per Capita Budgets  Average Math Score  \
0                                NaN                 NaN                 NaN
1                                NaN                 NaN                 NaN
2                                NaN                 NaN                 NaN
3                                NaN                 NaN                 NaN
4                                NaN                 NaN                 NaN
5                                NaN                 NaN                 NaN
6                                NaN                 NaN                 NaN
7                                NaN                 NaN                 NaN
8                                NaN                 NaN                 NaN
9                                NaN                 NaN                 NaN
10                               NaN                 NaN                 NaN
11                               NaN                 NaN                 NaN
12                               NaN                 NaN                 NaN
13                               NaN                 NaN                 NaN
14                               NaN                 NaN                 NaN
Bailey High School         3124928.0               628.0           77.048432
Cabrera High School        1081356.0               582.0           83.061895
Figueroa High School       1884411.0               639.0           76.711767
Ford High School           1763916.0               644.0           77.102592
Griffin High School         917500.0               625.0           83.351499
Hernandez High School      3022020.0               652.0           77.289752
Holden High School          248087.0               581.0           83.803279
Huang High School          1910635.0               655.0           76.629414
Johnson High School        3094650.0               650.0           77.072464
Pena High School            585858.0               609.0           83.839917
Rodriguez High School      2547363.0               637.0           76.842711
Shelton High School        1056600.0               600.0           83.359455
Thomas High School         1043130.0               638.0           83.418349
Wilson High School         1319574.0               578.0           83.274201
Wright High School         1049400.0               583.0           83.682222

                       Average Reading Score  Average Math Score >= 70  \
0                                        NaN                       NaN
1                                        NaN                       NaN
2                                        NaN                       NaN
3                                        NaN                       NaN
4                                        NaN                       NaN
5                                        NaN                       NaN
6                                        NaN                       NaN
7                                        NaN                       NaN
8                                        NaN                       NaN
9                                        NaN                       NaN
10                                       NaN                       NaN
11                                       NaN                       NaN
12                                       NaN                       NaN
13                                       NaN                       NaN
14                                       NaN                       NaN
Bailey High School                 81.033963                    3318.0
Cabrera High School                83.975780                    1749.0
Figueroa High School               81.158020                    1946.0
Ford High School                   80.746258                    1871.0
Griffin High School                83.816757                    1371.0
Hernandez High School              80.934412                    3094.0
Holden High School                 83.814988                     395.0
Huang High School                  81.182722                    1916.0
Johnson High School                80.966394                    3145.0
Pena High School                   84.044699                     910.0
Rodriguez High School              80.744686                    2654.0
Shelton High School                83.725724                    1653.0
Thomas High School                 83.848930                    1525.0
Wilson High School                 83.989488                    2143.0
Wright High School                 83.955000                    1680.0

                       Average Reading Score >= 70  % Overall Passing
0                                              NaN                NaN
1                                              NaN                NaN
2                                              NaN                NaN
3                                              NaN                NaN
4                                              NaN                NaN
5                                              NaN                NaN
6                                              NaN                NaN
7                                              NaN                NaN
8                                              NaN                NaN
9                                              NaN                NaN
10                                             NaN                NaN
11                                             NaN                NaN
12                                             NaN                NaN
13                                             NaN                NaN
14                                             NaN                NaN
Bailey High School                          4077.0             2719.0
Cabrera High School                         1803.0             1697.0
Figueroa High School                        2381.0             1569.0
Ford High School                            2172.0             1487.0
Griffin High School                         1426.0             1330.0
Hernandez High School                       3748.0             2481.0
Holden High School                           411.0              381.0
Huang High School                           2372.0             1561.0
Johnson High School                         3867.0             2549.0
Pena High School                             923.0              871.0
Rodriguez High School                       3208.0             2119.0
Shelton High School                         1688.0             1583.0
Thomas High School                          1591.0             1487.0
Wilson High School                          2204.0             2068.0
Wright High School                          1739.0             1626.0

## Highest-Performing Schools (by % Overall Passing)

In [21]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=False)
print(top_schools.head(5))

                      School Name  Total Students School Type  Total Budgets  \
Bailey High School            NaN             NaN         NaN      3124928.0
Johnson High School           NaN             NaN         NaN      3094650.0
Hernandez High School         NaN             NaN         NaN      3022020.0
Rodriguez High School         NaN             NaN         NaN      2547363.0
Wilson High School            NaN             NaN         NaN      1319574.0

                       Per Capita Budgets  Average Math Score  \
Bailey High School                  628.0           77.048432
Johnson High School                 650.0           77.072464
Hernandez High School               652.0           77.289752
Rodriguez High School               637.0           76.842711
Wilson High School                  578.0           83.274201

                       Average Reading Score  Average Math Score >= 70  \
Bailey High School                 81.033963                    3318.0
Johnson High School                80.966394                    3145.0
Hernandez High School              80.934412                    3094.0
Rodriguez High School              80.744686                    2654.0
Wilson High School                 83.989488                    2143.0

                       Average Reading Score >= 70  % Overall Passing
Bailey High School                          4077.0             2719.0
Johnson High School                         3867.0             2549.0
Hernandez High School                       3748.0             2481.0
Rodriguez High School                       3208.0             2119.0
Wilson High School                          2204.0             2068.0

## Bottom Performing Schools (By % Overall Passing)

In [22]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(by="% Overall Passing", ascending=True)
bottom_schools.head(5)

,School Name,Total Students,School Type,Total Budgets,Per Capita Budgets,Average Math Score,Average Reading Score,Average Math Score >= 70,Average Reading Score >= 70,% Overall Passing
Holden High School,NaN,NaN,NaN,248087.0,581.0,83.803279,83.814988,395.0,411.0,381.0
Pena High School,NaN,NaN,NaN,585858.0,609.0,83.839917,84.044699,910.0,923.0,871.0
Griffin High School,NaN,NaN,NaN,917500.0,625.0,83.351499,83.816757,1371.0,1426.0,1330.0
Ford High School,NaN,NaN,NaN,1763916.0,644.0,77.102592,80.746258,1871.0,2172.0,1487.0
Thomas High School,NaN,NaN,NaN,1043130.0,638.0,83.418349,83.848930,1525.0,1591.0,1487.0

## Math Scores by Grade

In [23]:
# Use the code provided to separate the data by grade
math_scores = merges.pivot_table(index="school_name", columns="grade", values="math_score", aggfunc="mean")

math_scores.rename(columns={"9th": "9th Grade", "10th": "10th Grade", "11th": "11th Grade", "12th": "12th Grade"}, inplace=True)
                   
print(math_scores)

grade                  10th Grade  11th Grade  12th Grade  9th Grade
school_name
Bailey High School      76.996772   77.515588   76.492218  77.083676
Cabrera High School     83.154506   82.765560   83.277487  83.094697
Figueroa High School    76.539974   76.884344   77.151369  76.403037
Ford High School        77.672316   76.918058   76.179963  77.361345
Griffin High School     84.229064   83.842105   83.356164  82.044010
Hernandez High School   77.337408   77.136029   77.186567  77.438495
Holden High School      83.429825   85.000000   82.855422  83.787402
Huang High School       75.908735   76.446602   77.225641  77.027251
Johnson High School     76.691117   77.491653   76.863248  77.187857
Pena High School        83.372000   84.328125   84.121547  83.625455
Rodriguez High School   76.612500   76.395626   77.690748  76.859966
Shelton High School     82.917411   83.383495   83.778976  83.420755
Thomas High School      83.087886   83.498795   83.497041  83.590022
Wilson High School      83.724422   83.195326   83.035794  83.085578
Wright High School      84.010288   83.836782   83.644986  83.264706

## Reading Score by Grade

In [24]:
# Use the code provided to separate the data by grade
reading_scores = merges.pivot_table(index="school_name", columns="grade", values="reading_score", aggfunc="mean")

reading_scores.rename(columns={"9th": "9th Grade", "10th": "10th Grade", "11th": "11th Grade", "12th": "12th Grade"}, inplace=True)
                   
print(reading_scores)

grade                  10th Grade  11th Grade  12th Grade  9th Grade
school_name
Bailey High School      80.907183   80.945643   80.912451  81.303155
Cabrera High School     84.253219   83.788382   84.287958  83.676136
Figueroa High School    81.408912   80.640339   81.384863  81.198598
Ford High School        81.262712   80.403642   80.662338  80.632653
Griffin High School     83.706897   84.288089   84.013699  83.369193
Hernandez High School   80.660147   81.396140   80.857143  80.866860
Holden High School      83.324561   83.815534   84.698795  83.677165
Huang High School       81.512386   81.417476   80.305983  81.290284
Johnson High School     80.773431   80.616027   81.227564  81.260714
Pena High School        83.612000   84.335938   84.591160  83.807273
Rodriguez High School   80.629808   80.864811   80.376426  80.993127
Shelton High School     83.441964   84.373786   82.781671  84.122642
Thomas High School      84.254157   83.585542   83.831361  83.728850
Wilson High School      84.021452   83.764608   84.317673  83.939778
Wright High School      83.812757   84.156322   84.073171  83.833333

## Scores by School Spending

In [25]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [26]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [27]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_summary["Per Capita Budgets"], bins=spending_bins, labels=labels)
print(school_spending_df)

                                 School Name  Total Students School Type  \
0                          Huang High School          2917.0    District
1                       Figueroa High School          2949.0    District
2                        Shelton High School          1761.0     Charter
3                      Hernandez High School          4635.0    District
4                        Griffin High School          1468.0     Charter
5                         Wilson High School          2283.0     Charter
6                        Cabrera High School          1858.0     Charter
7                         Bailey High School          4976.0    District
8                         Holden High School           427.0     Charter
9                           Pena High School           962.0     Charter
10                        Wright High School          1800.0     Charter
11                     Rodriguez High School          3999.0    District
12                       Johnson High School          4761.0    District
13                          Ford High School          2739.0    District
14                        Thomas High School          1635.0     Charter
Bailey High School                       NaN             NaN         NaN
Cabrera High School                      NaN             NaN         NaN
Figueroa High School                     NaN             NaN         NaN
Ford High School                         NaN             NaN         NaN
Griffin High School                      NaN             NaN         NaN
Hernandez High School                    NaN             NaN         NaN
Holden High School                       NaN             NaN         NaN
Huang High School                        NaN             NaN         NaN
Johnson High School                      NaN             NaN         NaN
Pena High School                         NaN             NaN         NaN
Rodriguez High School                    NaN             NaN         NaN
Shelton High School                      NaN             NaN         NaN
Thomas High School                       NaN             NaN         NaN
Wilson High School                       NaN             NaN         NaN
Wright High School                       NaN             NaN         NaN

                       Total Budgets  Per Capita Budgets  Average Math Score  \
0                                NaN                 NaN                 NaN
1                                NaN                 NaN                 NaN
2                                NaN                 NaN                 NaN
3                                NaN                 NaN                 NaN
4                                NaN                 NaN                 NaN
5                                NaN                 NaN                 NaN
6                                NaN                 NaN                 NaN
7                                NaN                 NaN                 NaN
8                                NaN                 NaN                 NaN
9                                NaN                 NaN                 NaN
10                               NaN                 NaN                 NaN
11                               NaN                 NaN                 NaN
12                               NaN                 NaN                 NaN
13                               NaN                 NaN                 NaN
14                               NaN                 NaN                 NaN
Bailey High School         3124928.0               628.0           77.048432
Cabrera High School        1081356.0               582.0           83.061895
Figueroa High School       1884411.0               639.0           76.711767
Ford High School           1763916.0               644.0           77.102592
Griffin High School         917500.0               625.0           83.351499
Hernandez High School      3022020.0               652.0           77.289752
Holden High School          248087.0               581.0           83.803279
Huang High School          1910635.0               655.0           76.629414
Johnson High School        3094650.0               650.0           77.072464
Pena High School            585858.0               609.0           83.839917
Rodriguez High School      2547363.0               637.0           76.842711
Shelton High School        1056600.0               600.0           83.359455
Thomas High School         1043130.0               638.0           83.418349
Wilson High School         1319574.0               578.0           83.274201
Wright High School         1049400.0               583.0           83.682222

                       Average Reading Score  Average Math Score >= 70  \
0                                        NaN                       NaN
1                                        NaN                       NaN
2                                        NaN                       NaN
3                                        NaN                       NaN
4                                        NaN                       NaN
5                                        NaN                       NaN
6                                        NaN                       NaN
7                                        NaN                       NaN
8                                        NaN                       NaN
9                                        NaN                       NaN
10                                       NaN                       NaN
11                                       NaN                       NaN
12                                       NaN                       NaN
13                                       NaN                       NaN
14                                       NaN                       NaN
Bailey High School                 81.033963                    3318.0
Cabrera High School                83.975780                    1749.0
Figueroa High School               81.158020                    1946.0
Ford High School                   80.746258                    1871.0
Griffin High School                83.816757                    1371.0
Hernandez High School              80.934412                    3094.0
Holden High School                 83.814988                     395.0
Huang High School                  81.182722                    1916.0
Johnson High School                80.966394                    3145.0
Pena High School                   84.044699                     910.0
Rodriguez High School              80.744686                    2654.0
Shelton High School                83.725724                    1653.0
Thomas High School                 83.848930                    1525.0
Wilson High School                 83.989488                    2143.0
Wright High School                 83.955000                    1680.0

                       Average Reading Score >= 70  % Overall Passing  \
0                                              NaN                NaN
1                                              NaN                NaN
2                                              NaN                NaN
3                                              NaN                NaN
4                                              NaN                NaN
5                                              NaN                NaN
6                                              NaN                NaN
7                                              NaN                NaN
8                                              NaN                NaN
9                                              NaN                NaN
10                                             NaN                NaN
11                                             NaN                NaN
12                                             NaN                NaN
13                                             NaN                NaN
14                                             NaN                NaN
Bailey High School                          4077.0             2719.0
Cabrera High School                         1803.0             1697.0
Figueroa High School                        2381.0             1569.0
Ford High School                            2172.0             1487.0
Griffin High School                         1426.0             1330.0
Hernandez High School                       3748.0             2481.0
Holden High School                           411.0              381.0
Huang High School                           2372.0             1561.0
Johnson High School                         3867.0             2549.0
Pena High School                             923.0              871.0
Rodriguez High School                       3208.0             2119.0
Shelton High School                         1688.0             1583.0
Thomas High School                          1591.0             1487.0
Wilson High School                          2204.0             2068.0
Wright High School                          1739.0             1626.0

                      Spending Ranges (Per Student)
0                                               NaN
1                                               NaN
2                                               NaN
3                                               NaN
4                                               NaN
5                                               NaN
6                                               NaN
7                                               NaN
8                                               NaN
9                                               NaN
10                                              NaN
11                                              NaN
12                                              NaN
13                                              NaN
14                                              NaN
Bailey High School                         $585-630
Cabrera High School                           <$585
Figueroa High School                       $630-645
Ford High School                           $630-645
Griffin High School                        $585-630
Hernandez High School                      $645-680
Holden High School                            <$585
Huang High School                          $645-680
Johnson High School                        $645-680
Pena High School                           $585-630
Rodriguez High School                      $630-645
Shelton High School                        $585-630
Thomas High School                         $630-645
Wilson High School                            <$585
Wright High School                            <$585

In [28]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score >= 70"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score >= 70"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

per_school_summary["% Overall Passing"] = (per_school_summary["Average Math Score >= 70"] + per_school_summary["Average Reading Score >= 70"]) / 2
overall_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["% Overall Passing"].mean()

In [29]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
    "Average Math Score": spending_math_scores,
    "Average Reading Score": spending_reading_scores,
    "% Passing Math": spending_passing_math,
    "% Passing Reading": spending_passing_reading,
    "% Overall Passing": overall_passing_spending
})

# Display results
print(spending_summary)

                               Average Math Score  Average Reading Score  \
Spending Ranges (Per Student)
<$585                                   83.455399              83.933814
$585-630                                81.899826              83.155286
$630-645                                78.518855              81.624473
$645-680                                76.997210              81.027843

                               % Passing Math  % Passing Reading  \
Spending Ranges (Per Student)
<$585                             1491.750000            1539.25
$585-630                          1813.000000            2028.50
$630-645                          1999.000000            2338.00
$645-680                          2718.333333            3329.00

                               % Overall Passing
Spending Ranges (Per Student)
<$585                                    1443.00
$585-630                                 1625.75
$630-645                                 1665.50
$645-680                                 2197.00

## Scores by School Size

In [30]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [37]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"], bins=size_bins, labels=labels)

print(per_school_summary)

                                 School Name  Total Students School Type  \
0                          Huang High School          2917.0    District
1                       Figueroa High School          2949.0    District
2                        Shelton High School          1761.0     Charter
3                      Hernandez High School          4635.0    District
4                        Griffin High School          1468.0     Charter
5                         Wilson High School          2283.0     Charter
6                        Cabrera High School          1858.0     Charter
7                         Bailey High School          4976.0    District
8                         Holden High School           427.0     Charter
9                           Pena High School           962.0     Charter
10                        Wright High School          1800.0     Charter
11                     Rodriguez High School          3999.0    District
12                       Johnson High School          4761.0    District
13                          Ford High School          2739.0    District
14                        Thomas High School          1635.0     Charter
Bailey High School                       NaN             NaN         NaN
Cabrera High School                      NaN             NaN         NaN
Figueroa High School                     NaN             NaN         NaN
Ford High School                         NaN             NaN         NaN
Griffin High School                      NaN             NaN         NaN
Hernandez High School                    NaN             NaN         NaN
Holden High School                       NaN             NaN         NaN
Huang High School                        NaN             NaN         NaN
Johnson High School                      NaN             NaN         NaN
Pena High School                         NaN             NaN         NaN
Rodriguez High School                    NaN             NaN         NaN
Shelton High School                      NaN             NaN         NaN
Thomas High School                       NaN             NaN         NaN
Wilson High School                       NaN             NaN         NaN
Wright High School                       NaN             NaN         NaN

                       Total Budgets  Per Capita Budgets  Average Math Score  \
0                                NaN                 NaN                 NaN
1                                NaN                 NaN                 NaN
2                                NaN                 NaN                 NaN
3                                NaN                 NaN                 NaN
4                                NaN                 NaN                 NaN
5                                NaN                 NaN                 NaN
6                                NaN                 NaN                 NaN
7                                NaN                 NaN                 NaN
8                                NaN                 NaN                 NaN
9                                NaN                 NaN                 NaN
10                               NaN                 NaN                 NaN
11                               NaN                 NaN                 NaN
12                               NaN                 NaN                 NaN
13                               NaN                 NaN                 NaN
14                               NaN                 NaN                 NaN
Bailey High School         3124928.0               628.0           77.048432
Cabrera High School        1081356.0               582.0           83.061895
Figueroa High School       1884411.0               639.0           76.711767
Ford High School           1763916.0               644.0           77.102592
Griffin High School         917500.0               625.0           83.351499
Hernandez High School      3022020.0               652.0           77.289752
Holden High School          248087.0               581.0           83.803279
Huang High School          1910635.0               655.0           76.629414
Johnson High School        3094650.0               650.0           77.072464
Pena High School            585858.0               609.0           83.839917
Rodriguez High School      2547363.0               637.0           76.842711
Shelton High School        1056600.0               600.0           83.359455
Thomas High School         1043130.0               638.0           83.418349
Wilson High School         1319574.0               578.0           83.274201
Wright High School         1049400.0               583.0           83.682222

                       Average Reading Score  Average Math Score >= 70  \
0                                        NaN                       NaN
1                                        NaN                       NaN
2                                        NaN                       NaN
3                                        NaN                       NaN
4                                        NaN                       NaN
5                                        NaN                       NaN
6                                        NaN                       NaN
7                                        NaN                       NaN
8                                        NaN                       NaN
9                                        NaN                       NaN
10                                       NaN                       NaN
11                                       NaN                       NaN
12                                       NaN                       NaN
13                                       NaN                       NaN
14                                       NaN                       NaN
Bailey High School                 81.033963                    3318.0
Cabrera High School                83.975780                    1749.0
Figueroa High School               81.158020                    1946.0
Ford High School                   80.746258                    1871.0
Griffin High School                83.816757                    1371.0
Hernandez High School              80.934412                    3094.0
Holden High School                 83.814988                     395.0
Huang High School                  81.182722                    1916.0
Johnson High School                80.966394                    3145.0
Pena High School                   84.044699                     910.0
Rodriguez High School              80.744686                    2654.0
Shelton High School                83.725724                    1653.0
Thomas High School                 83.848930                    1525.0
Wilson High School                 83.989488                    2143.0
Wright High School                 83.955000                    1680.0

                       Average Reading Score >= 70  % Overall Passing  \
0                                              NaN                NaN
1                                              NaN                NaN
2                                              NaN                NaN
3                                              NaN                NaN
4                                              NaN                NaN
5                                              NaN                NaN
6                                              NaN                NaN
7                                              NaN                NaN
8                                              NaN                NaN
9                                              NaN                NaN
10                                             NaN                NaN
11                                             NaN                NaN
12                                             NaN                NaN
13                                             NaN                NaN
14                                             NaN                NaN
Bailey High School                          4077.0             2719.0
Cabrera High School                         1803.0             1697.0
Figueroa High School                        2381.0             1569.0
Ford High School                            2172.0             1487.0
Griffin High School                         1426.0             1330.0
Hernandez High School                       3748.0             2481.0
Holden High School                           411.0              381.0
Huang High School                           2372.0             1561.0
Johnson High School                         3867.0             2549.0
Pena High School                             923.0              871.0
Rodriguez High School                       3208.0             2119.0
Shelton High School                         1688.0             1583.0
Thomas High School                          1591.0             1487.0
Wilson High School                          2204.0             2068.0
Wright High School                          1739.0             1626.0

                              School Size
0                       Large (2000-5000)
1                       Large (2000-5000)
2                      Medium (1000-2000)
3                       Large (2000-5000)
4                      Medium (1000-2000)
5                       Large (2000-5000)
6                      Medium (1000-2000)
7                       Large (2000-5000)
8                           Small (<1000)
9                           Small (<1000)
10                     Medium (1000-2000)
11                      Large (2000-5000)
12                      Large (2000-5000)
13                      Large (2000-5000)
14                     Medium (1000-2000)
Bailey High School                    NaN
Cabrera High School                   NaN
Figueroa High School                  NaN
Ford High School                      NaN
Griffin High School                   NaN
Hernandez High School                 NaN
Holden High School                    NaN
Huang High School                     NaN
Johnson High School                   NaN
Pena High School                      NaN
Rodriguez High School                 NaN
Shelton High School                   NaN
Thomas High School                    NaN
Wilson High School                    NaN
Wright High School                    NaN

In [39]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Average Math Score >= 70"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Average Reading Score >= 70"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["% Overall Passing"].mean()

In [40]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`

size_summary = pd.DataFrame({
    "Average Math Score": size_math_scores,
    "Average Reading Score": size_reading_scores,
    "Average Math Score >= 70": size_passing_math,
    "Average Reading Score >= 70": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
print(size_summary)

                    Average Math Score  Average Reading Score  \
School Size
Small (<1000)                      NaN                    NaN
Medium (1000-2000)                 NaN                    NaN
Large (2000-5000)                  NaN                    NaN

                    Average Math Score >= 70  Average Reading Score >= 70  \
School Size
Small (<1000)                            NaN                          NaN
Medium (1000-2000)                       NaN                          NaN
Large (2000-5000)                        NaN                          NaN

                    % Overall Passing
School Size
Small (<1000)                     NaN
Medium (1000-2000)                NaN
Large (2000-5000)                 NaN

## Scores by School Type

In [35]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
per_school_summary = pd.DataFrame({
    "School Name": school_avgs["school_name"],
    "Total Students": school_avgs["size"],
    "School Type": school_avgs["type"],
    "Total Budgets": total_budget,
    "Per Capita Budgets": capita_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Average Math Score >= 70": math_avg,
    "Average Reading Score >= 70": reading_avg,
    "% Overall Passing": both_passing
})

average_math_score_by_type = per_school_summary.groupby(["School Type"])["Average Math Score"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Type"])["Average Math Score >= 70"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Type"])["Average Reading Score >= 70"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Type"])["% Overall Passing"].mean()

In [42]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({
    "School Type": school_avgs["type"],
    "Total Students": school_avgs["size"],
    "Total Budgets": total_budget,
    "Per Capita Budgets": capita_budget,
    "Average Math Score": per_school_math,
    "Average Reading Score": per_school_reading,
    "Average Math Score >= 70": math_avg,
    "Average Reading Score >= 70": reading_avg,
    "% Overall Passing": both_passing
})
# Display results
print(type_summary)

                      School Type  Total Students  Total Budgets  \
0                        District          2917.0            NaN
1                        District          2949.0            NaN
2                         Charter          1761.0            NaN
3                        District          4635.0            NaN
4                         Charter          1468.0            NaN
5                         Charter          2283.0            NaN
6                         Charter          1858.0            NaN
7                        District          4976.0            NaN
8                         Charter           427.0            NaN
9                         Charter           962.0            NaN
10                        Charter          1800.0            NaN
11                       District          3999.0            NaN
12                       District          4761.0            NaN
13                       District          2739.0            NaN
14                        Charter          1635.0            NaN
Bailey High School            NaN             NaN      3124928.0
Cabrera High School           NaN             NaN      1081356.0
Figueroa High School          NaN             NaN      1884411.0
Ford High School              NaN             NaN      1763916.0
Griffin High School           NaN             NaN       917500.0
Hernandez High School         NaN             NaN      3022020.0
Holden High School            NaN             NaN       248087.0
Huang High School             NaN             NaN      1910635.0
Johnson High School           NaN             NaN      3094650.0
Pena High School              NaN             NaN       585858.0
Rodriguez High School         NaN             NaN      2547363.0
Shelton High School           NaN             NaN      1056600.0
Thomas High School            NaN             NaN      1043130.0
Wilson High School            NaN             NaN      1319574.0
Wright High School            NaN             NaN      1049400.0

                       Per Capita Budgets  Average Math Score  \
0                                     NaN                 NaN
1                                     NaN                 NaN
2                                     NaN                 NaN
3                                     NaN                 NaN
4                                     NaN                 NaN
5                                     NaN                 NaN
6                                     NaN                 NaN
7                                     NaN                 NaN
8                                     NaN                 NaN
9                                     NaN                 NaN
10                                    NaN                 NaN
11                                    NaN                 NaN
12                                    NaN                 NaN
13                                    NaN                 NaN
14                                    NaN                 NaN
Bailey High School                  628.0           77.048432
Cabrera High School                 582.0           83.061895
Figueroa High School                639.0           76.711767
Ford High School                    644.0           77.102592
Griffin High School                 625.0           83.351499
Hernandez High School               652.0           77.289752
Holden High School                  581.0           83.803279
Huang High School                   655.0           76.629414
Johnson High School                 650.0           77.072464
Pena High School                    609.0           83.839917
Rodriguez High School               637.0           76.842711
Shelton High School                 600.0           83.359455
Thomas High School                  638.0           83.418349
Wilson High School                  578.0           83.274201
Wright High School                  583.0           83.682222

                       Average Reading Score  Average Math Score >= 70  \
0                                        NaN                       NaN
1                                        NaN                       NaN
2                                        NaN                       NaN
3                                        NaN                       NaN
4                                        NaN                       NaN
5                                        NaN                       NaN
6                                        NaN                       NaN
7                                        NaN                       NaN
8                                        NaN                       NaN
9                                        NaN                       NaN
10                                       NaN                       NaN
11                                       NaN                       NaN
12                                       NaN                       NaN
13                                       NaN                       NaN
14                                       NaN                       NaN
Bailey High School                 81.033963                    3318.0
Cabrera High School                83.975780                    1749.0
Figueroa High School               81.158020                    1946.0
Ford High School                   80.746258                    1871.0
Griffin High School                83.816757                    1371.0
Hernandez High School              80.934412                    3094.0
Holden High School                 83.814988                     395.0
Huang High School                  81.182722                    1916.0
Johnson High School                80.966394                    3145.0
Pena High School                   84.044699                     910.0
Rodriguez High School              80.744686                    2654.0
Shelton High School                83.725724                    1653.0
Thomas High School                 83.848930                    1525.0
Wilson High School                 83.989488                    2143.0
Wright High School                 83.955000                    1680.0

                       Average Reading Score >= 70  % Overall Passing
0                                              NaN                NaN
1                                              NaN                NaN
2                                              NaN                NaN
3                                              NaN                NaN
4                                              NaN                NaN
5                                              NaN                NaN
6                                              NaN                NaN
7                                              NaN                NaN
8                                              NaN                NaN
9                                              NaN                NaN
10                                             NaN                NaN
11                                             NaN                NaN
12                                             NaN                NaN
13                                             NaN                NaN
14                                             NaN                NaN
Bailey High School                          4077.0             2719.0
Cabrera High School                         1803.0             1697.0
Figueroa High School                        2381.0             1569.0
Ford High School                            2172.0             1487.0
Griffin High School                         1426.0             1330.0
Hernandez High School                       3748.0             2481.0
Holden High School                           411.0              381.0
Huang High School                           2372.0             1561.0
Johnson High School                         3867.0             2549.0
Pena High School                             923.0              871.0
Rodriguez High School                       3208.0             2119.0
Shelton High School                         1688.0             1583.0
Thomas High School                          1591.0             1487.0
Wilson High School                          2204.0             2068.0
Wright High School                          1739.0             1626.0